<h1 class="d-flex justify-content-center fw-light">Editing Project</h1>

<%= render "form", project: @project %>

<br>

<div class="d-flex justify-content-center">
  <div class="btn-group">
    <%= link_to "Show this project", @project, :class => "btn btn-sm btn-outline-secondary" %>
    <%= link_to "Back to projects", projects_path, :class => "btn btn-sm btn-outline-secondary" %>
  </div>
</div>
